<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rba.chartdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".salestore.SaleStoreYearActivity"
            android:label="@string/title_activity_sale_store_year"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".salebystoreandyear.SaleByStoreAndYearActivity"
            android:label="@string/title_activity_sale_by_store_and_year"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".storesale.StoreSaleActivity"
            android:label="@string/title_activity_store_sale"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".salestoreyear.SaleStoreYearActivity"
            android:label="@string/title_activity_branch_office"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>